@font-face {
    font-family: 'Open-Sans';
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Open-Sans';
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: 'Open-Sans';
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
    font-weight: normal;
}