@import url("../style/font-face.css");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open-Sans', Arial, Helvetica, sans-serif;
}

.image__header {
    margin-bottom: 1em;
}

.header_name {
    font-size: 1.3em;
    font-weight: normal;
}
 /* work-card */
.work-card {
    box-shadow: 0 0 30px 20px rgba(0,0,0,0.2);
    padding: 1em 5em;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 490px) {
    .work-card {
        margin: 0 0 2em 0;
    }
}

.work-card:hover {
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}

.work-card h4, .work-card a {
    margin: .3em 0;
}

.work-card a {
    color: #696144;
}

.work-card a:visited {
    color: #84837E;
}

.form-label {
    border-radius: 2px;
    border: 1px dotted #000; 
}